<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
  </head>
  <body>
    {{> header}}
    <p>Hi. My name is Horace. I am from Taiwan. I am learning Node.js through udemy at the moment. If you have any advice. Do not hesitate to let me know.</p>

  </body>
</html>
