<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About My Website</title>
  </head>
  <body>
    {{> header}}
    <p><h1>Node.js</hi></p>
    <p><h1>Python</hi></p>
    <p><h1>PHP</hi></p>
  </body>
</html>
